<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	
	<typeAliases>
	<package name="org.zerock.board.domain"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@175.117.99.163:1521:XE" />
				<property name="username" value="dclub" />
				<property name="password" value="dclub" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource = "org/zerock/board/dao/BoardMapper.xml"/>
		<mapper resource = "org/zerock/time/dao/TimeMapper.xml"/>
	</mappers>

</configuration>